
<%= simple_form_for(@personal_preference) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :favorite_color %>
    <br>
    <label>Select Favorite Animal:</label>
    <%= f.select :favorite_animal, PersonalPreference.favorite_animals.keys.to_a, {} %>
  </div>
   <br>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
