<p id="notice"><%= notice %></p>

<h1>Personal Preferences</h1>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Favorite color</th>
      <th>Favorite animal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_preferences.each do |personal_preference| %>
      <tr>
        <td><%= personal_preference.name %></td>
        <td><%= personal_preference.favorite_color %></td>
        <td><%= personal_preference.favorite_animal %></td>
        <td><%= link_to 'Show', personal_preference %></td>
        <td><%= link_to 'Edit', edit_personal_preference_path(personal_preference) %></td>
        <td><%= link_to 'Destroy', personal_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personal Preference', new_personal_preference_path %>
