<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personal_preference.name %>
</p>

<p>
  <strong>Favorite color:</strong>
  <%= @personal_preference.favorite_color %>
</p>

<p>
  <strong>Favorite animal:</strong>
  <%= @personal_preference.favorite_animal %>
</p>

<%= link_to 'Edit', edit_personal_preference_path(@personal_preference) %> |
<%= link_to 'Back', personal_preferences_path %>
